<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLoaded">
    <div class="container-fluid">
        <a class="navbar-brand px-4 fw-bolder text-info fs-4" routerLink="/login">MoCha</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <span *ngIf="_auth.isAuthed; else notAuthed">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/profile">{{_auth?.userData.firstname}}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/editProfile">EditProfile</a>
                  </li>
                  </span>

                <ng-template #notAuthed>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/login">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register">Register</a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>